In [46]:
import pandas as pd
import numpy as np

# Define sample data for the series
employee_id = np.arange(1001, 1011)
employee_name = ['Twan', 'Gee', 'Mikey', 'Trey', 'Tenth',
                 'Jish', 'JayMatic', 'Hendrix', 'Waka', 'Veli']
employee_salary = [50000, 60000, 70000, 80000,
                   90000, 100000, 110000, 120000, 130000, 140000]
employee_department = ['Product', 'Engineering', 'Sales', 'Finance', 'Marketing',
                       'Operations', 'Finance', 'Sales', 'Product', 'Engineering']
employee_start_date = ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01',
                       '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01', 
                       '2022-09-01', '2022-10-01']
currently_employed = [True, True, False, True, True, 
                      True, False, True, False, True]

# Create the Pandas Series
employee_id_series = pd.Series(employee_id, name='Employee ID')
employee_name_series = pd.Series(
    employee_name, name='Employee Name', index=employee_id)
employee_salary_series = pd.Series(
    employee_salary, name='Employee Salary', index=employee_id)
employee_department_series = pd.Series(
    employee_department, name='Employee Department', index=employee_id)
employee_start_date_series = pd.to_datetime(
    pd.Series(employee_start_date, name='Employee Start Date'), format='%Y-%m-%d')
employee_start_date_series.index = employee_id
currently_employed_series = pd.Series(
    currently_employed, name='Currently Employed', index=employee_id)

In [47]:
# Combine all the Series into a DataFrame
employee_df = pd.concat([employee_name_series, employee_salary_series, employee_department_series,
                         employee_start_date_series, currently_employed_series], axis=1)
employee_df.index.name = 'Employee ID'

# Print the resulting DataFrame
print(employee_df)

            Employee Name  Employee Salary Employee Department  \
Employee ID
1001                 Twan            50000             Product
1002                  Gee            60000         Engineering
1003                Mikey            70000               Sales
1004                 Trey            80000             Finance
1005                Tenth            90000           Marketing
1006                 Jish           100000          Operations
1007             JayMatic           110000             Finance
1008              Hendrix           120000               Sales
1009                 Waka           130000             Product
1010                 Veli           140000         Engineering

            Employee Start Date  Currently Employed
Employee ID
1001                 2022-01-01                True
1002                 2022-02-01                True
1003                 2022-03-01               False
1004                 2022-04-01                True
1005                 2022-05-01                True
1006                 2022-06-01                True
1007                 2022-07-01               False
1008                 2022-08-01                True
1009                 2022-09-01               False
1010                 2022-10-01                True

In [48]:
#Print by salary
salary = employee_df.loc[1002, 'Employee Salary']
print(salary)

60000

In [49]:
# Select the start date of the employee with ID 1003
employee_start_date = employee_df.at[1003, 'Employee Start Date']
print(employee_start_date)

2022-03-01 00:00:00

In [50]:
# Select the employee name and department of all employees making over $80,000
high_earners = employee_df[employee_df['Employee Salary']
                           > 80000][['Employee Name', 'Employee Department']]
print(high_earners)

            Employee Name Employee Department
Employee ID
1005                Tenth           Marketing
1006                 Jish          Operations
1007             JayMatic             Finance
1008              Hendrix               Sales
1009                 Waka             Product
1010                 Veli         Engineering

In [51]:
# Select the start date, salary, and currently employed status of the employees with IDs 1002, 1005, and 1008
subset = employee_df.loc[[1002, 1005, 1008], [
    'Employee Name', 'Employee Start Date', 'Employee Salary', 'Currently Employed']]
print(subset)

            Employee Name Employee Start Date  Employee Salary  \
Employee ID
1002                  Gee          2022-02-01            60000
1005                Tenth          2022-05-01            90000
1008              Hendrix          2022-08-01           120000

             Currently Employed
Employee ID
1002                       True
1005                       True
1008                       True

In [52]:
recent_hires = employee_df[employee_df['Employee Start Date'] > '2022-05-01']
print(recent_hires)

            Employee Name  Employee Salary Employee Department  \
Employee ID
1006                 Jish           100000          Operations
1007             JayMatic           110000             Finance
1008              Hendrix           120000               Sales
1009                 Waka           130000             Product
1010                 Veli           140000         Engineering

            Employee Start Date  Currently Employed
Employee ID
1006                 2022-06-01                True
1007                 2022-07-01               False
1008                 2022-08-01                True
1009                 2022-09-01               False
1010                 2022-10-01                True

In [53]:
num_employed = employee_df['Currently Employed'].sum()
print(num_employed)

7

In [43]:
# Find the sum, average, minimum, and maximum salaries
# using the 'agg' method with a dictionary of functions
salaries_stats = employee_df['Employee Salary'].agg(
    {'sum', 'mean', 'min', 'max'})
print('Salaries statistics:\n', salaries_stats)

Salaries statistics:
 mean     95000.0
min      50000.0
sum     950000.0
max     140000.0
Name: Employee Salary, dtype: float64

In [45]:
# Find the sum, average, minimum, and maximum salaries by department
# using the 'groupby' method with the department column and the 'agg' method with a dictionary of functions
department_stats = employee_df.groupby('Employee Department')[
    'Employee Salary'].agg({'sum', 'mean', 'min', 'max'})
print('\nSalaries statistics by department:\n', department_stats)

Salaries statistics by department:
                          mean     min     sum     max
Employee Department
Engineering          100000.0   60000  200000  140000
Finance               95000.0   80000  190000  110000
Marketing             90000.0   90000   90000   90000
Operations           100000.0  100000  100000  100000
Product               90000.0   50000  180000  130000
Sales                 95000.0   70000  190000  120000

In [54]:
active_employee_df = employee_df[employee_df['Currently Employed'] == True]
print('\nActive employees:\n', active_employee_df)

Active employees:
             Employee Name  Employee Salary Employee Department  \
Employee ID
1001                 Twan            50000             Product
1002                  Gee            60000         Engineering
1004                 Trey            80000             Finance
1005                Tenth            90000           Marketing
1006                 Jish           100000          Operations
1008              Hendrix           120000               Sales
1010                 Veli           140000         Engineering

            Employee Start Date  Currently Employed
Employee ID
1001                 2022-01-01                True
1002                 2022-02-01                True
1004                 2022-04-01                True
1005                 2022-05-01                True
1006                 2022-06-01                True
1008                 2022-08-01                True
1010                 2022-10-01                True

In [55]:
# Construct a separate DataFrame of Departments
departments_df = pd.DataFrame(
    {'Employee Department': employee_df['Employee Department'].unique()})
print('\nDepartments:\n', departments_df)

Departments:
   Employee Department
0             Product
1         Engineering
2               Sales
3             Finance
4           Marketing
5          Operations