In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
names = ("Fido", "Rex", "Whiskers", "Tom", "Goldie", "Polly", "Dragon")
pets = ["dog", "dog", "cat", "cat", "fish", "bird", "lizard"]
ages = [2, 3, 1, 4, 1, 20, 3]

names_series = pd.Series(names)
print(names_series)
print("-----")
pets_series = pd.Series(pets)
print(pets_series)
print("-----")
ages_series = pd.Series(ages)
print(ages_series)

0        Fido
1         Rex
2    Whiskers
3         Tom
4      Goldie
5       Polly
6      Dragon
dtype: object
-----
0       dog
1       dog
2       cat
3       cat
4      fish
5      bird
6    lizard
dtype: object
-----
0     2
1     3
2     1
3     4
4     1
5    20
6     3
dtype: int64

In [7]:
pets_series.values

array(['dog', 'dog', 'cat', 'cat', 'fish', 'bird', 'lizard'], dtype=object)

In [8]:
pets_series.dtype

dtype('O')

In [9]:
ages_series.dtype

dtype('int64')

In [10]:
ages_series.astype('float64')

0     2.0
1     3.0
2     1.0
3     4.0
4     1.0
5    20.0
6     3.0
dtype: float64

In [11]:
ages_series.astype(str)

0     2
1     3
2     1
3     4
4     1
5    20
6     3
dtype: object

In [12]:
print(pets_series.index)

RangeIndex(start=0, stop=7, step=1)

In [13]:
pets_series[2]

'cat'

In [14]:
pets_series.index = names_series

ages_series = pd.Series(ages, index=names_series)

print(pets_series)
print("-------")
print(ages_series)

Fido           dog
Rex            dog
Whiskers       cat
Tom            cat
Goldie        fish
Polly         bird
Dragon      lizard
dtype: object
-------
Fido         2
Rex          3
Whiskers     1
Tom          4
Goldie       1
Polly       20
Dragon       3
dtype: int64

In [15]:
ages_series.size

7

In [17]:
nans_series = pd.Series([1, 2, 3, "four", 5])
nans_series.hasnans

False

In [21]:
pets_series.iloc[0]

'dog'

In [24]:
ages_series.loc["Polly"]

20

In [25]:
ages_series.index

Index(['Fido', 'Rex', 'Whiskers', 'Tom', 'Goldie', 'Polly', 'Dragon'], dtype='object')

In [27]:
pets_series[["Dragon", "Goldie"]]

Dragon    lizard
Goldie      fish
dtype: object

In [28]:
pets_series["Rocky"] = "rock"
pets_series

Fido           dog
Rex            dog
Whiskers       cat
Tom            cat
Goldie        fish
Polly         bird
Dragon      lizard
Rocky         rock
dtype: object

In [29]:
ages_series["Rocky"] = np.nan
ages_series

Fido         2.0
Rex          3.0
Whiskers     1.0
Tom          4.0
Goldie       1.0
Polly       20.0
Dragon       3.0
Rocky        NaN
dtype: float64

In [30]:
pets_series == 'dog'

Fido         True
Rex          True
Whiskers    False
Tom         False
Goldie      False
Polly       False
Dragon      False
Rocky       False
dtype: bool

In [31]:
ages_series <= 2

Fido         True
Rex         False
Whiskers     True
Tom         False
Goldie       True
Polly       False
Dragon      False
Rocky       False
dtype: bool

In [35]:
(ages_series <= 2) & (ages_series >= 5)

Fido        False
Rex         False
Whiskers    False
Tom         False
Goldie      False
Polly       False
Dragon      False
Rocky       False
dtype: bool

In [33]:
(pets_series == "bird") | (pets_series == "lizard")

Fido        False
Rex         False
Whiskers    False
Tom         False
Goldie      False
Polly        True
Dragon       True
Rocky       False
dtype: bool

In [36]:
ages_series[ages_series <= 2]

Fido        2.0
Whiskers    1.0
Goldie      1.0
dtype: float64

In [38]:
print(pets_series[pets_series == "dog"])
print("-----")
print(pets_series[(pets_series == "dog") | (pets_series == "cat")])

Fido    dog
Rex     dog
dtype: object
-----
Fido        dog
Rex         dog
Whiskers    cat
Tom         cat
dtype: object

In [39]:
pets_series[1:5]

Rex          dog
Whiskers     cat
Tom          cat
Goldie      fish
dtype: object

In [48]:
ages_series.sort_values()

Whiskers     1.0
Goldie       1.0
Fido         2.0
Rex          3.0
Dragon       3.0
Tom          4.0
Polly       20.0
Rocky        NaN
dtype: float64

In [44]:
ages_series.dropna()

Polly       20.0
Tom          4.0
Rex          3.0
Dragon       3.0
Fido         2.0
Whiskers     1.0
Goldie       1.0
dtype: float64

In [47]:
ages_series.dropna().sort_values()[:3:-1]

Polly     20.0
Tom        4.0
Dragon     3.0
Rex        3.0
dtype: float64

In [51]:
pets_series.str.upper()

Fido           DOG
Rex            DOG
Whiskers       CAT
Tom            CAT
Goldie        FISH
Polly         BIRD
Dragon      LIZARD
Rocky         ROCK
dtype: object

In [52]:
pets_series.unique()

array(['dog', 'cat', 'fish', 'bird', 'lizard', 'rock'], dtype=object)

In [53]:
pets_series.groupby(by=pets_series)

In [62]:
pets_series.groupby(by=pets_series).count()

bird      1
cat       2
dog       2
fish      1
lizard    1
rock      1
dtype: int64

In [55]:
pets_series.count()

8

In [56]:
print(ages_series.mean())

4.857142857142857

In [57]:
print(ages_series.max())

20.0

In [58]:
print(ages_series.min())

1.0

In [66]:
pets_series.drop(['Rocky'])

Fido           dog
Rex            dog
Whiskers       cat
Tom            cat
Goldie        fish
Polly         bird
Dragon      lizard
Rocky         rock
dtype: object